/* @import url(style.css); */
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6 1fr);
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  'header header header header header header'
  '. sidebar-left content content sidebar-right .';
  gap: 10px;
}
.header{
  grid-area: header;
  background-color: brown;
}
.sidebar-left{
  grid-area: sidebar-left;
  background-color: blue;
}
.container{
  grid-area: content;
  background-color: blueviolet;
}
.sidebar-right{
  grid-area: sidebar-right;
  background-color: antiquewhite;
}