*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #212121;
  border: 1px solid #212121;
}
.item{
  padding: 1rem;
  font-size: 1.25rem;
  background: #666;
  border: 1px solid #999;
}